@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff;
  color: #000
}

:root {
    --bg-secondary: #262626;
    --btn-bg-primary: #4172DC;
    --btn-bg-secondary: #434343;
}

.section-container {
    @apply max-w-[1420px] mx-auto px-4 lg:px-20;
  }

  .button-primary {
    @apply btn btn-xs btn-wide sm:btn-sm md:btn-md lg:btn-lg uppercase text-white border-0;
    border-radius: var(--spacing-1, 4px);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), var(--btn-bg-primary);
  }

  .button-primary-sm {
    @apply btn btn-sm uppercase text-white border-0;
    border-radius: var(--spacing-1, 4px);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), var(--btn-bg-primary);
  }

  .button-primary-wide {
    @apply btn btn-xs sm:btn-sm md:btn-md lg:btn-lg uppercase text-white border-0 w-full;
    border-radius: var(--spacing-1, 4px);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), var(--btn-bg-primary);
  }

  .button-secondary-wide {
    @apply btn btn-xs sm:btn-sm md:btn-md lg:btn-lg uppercase text-white border-0 w-full;
    border-radius: var(--spacing-1, 4px);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), var(--btn-bg-secondary);
  }
  
/* --- back to top --- */
  .back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--btn-bg-primary);
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
  }
  
  .back-to-top.hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .back-to-top.visible {
    opacity: 1;
    pointer-events: auto;
  }

  /* -- Custom Scrollbar Styles -- */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--btn-bg-secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--btn-bg-primary);
  border-radius: 6px;
}

.no-border {
  border: none;
}

/* preloader */
.preloader {
  background-color: var(--tertiary-color);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  margin: 0 auto;
}

.preloader .preloader-circle {
  width: 100px;
  height: 100px;
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-top-color: var(--primary-color);
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  z-index: 10;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 5px 0 var(--secondary-color-rgb);
  box-shadow: 0 1px 5px 0 var(--secondary-color-rgb);
  background-color: var(--tertiary-color);
  -webkit-animation: zoom 2000ms infinite ease;
  animation: zoom 2000ms infinite ease;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.preloader .preloader-circle2 {
  border-top-color: #0078ff;
}

.preloader .preloader-img {
  position: absolute;
  top: 50%;
  z-index: 200;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-top: 6px;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.preloader .preloader-img img {
  max-width: 55px;
}

.preloader .pere-text strong {
  font-weight: 800;
  color: var(--primary-color);
  text-transform: uppercase;
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }
}
  