@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff;
  color: #000
}

:root {
    --bg-secondary: #262626;
    --btn-bg-primary: #4172DC;
    --btn-bg-secondary: #434343;
}

.section-container {
    @apply max-w-[1420px] mx-auto px-4 lg:px-20;
  }

  .button-primary {
    @apply btn btn-xs btn-wide sm:btn-sm md:btn-md lg:btn-lg uppercase text-white border-0;
    border-radius: var(--spacing-1, 4px);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), var(--btn-bg-primary);
  }

  .button-primary-sm {
    @apply btn btn-sm uppercase text-white border-0;
    border-radius: var(--spacing-1, 4px);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), var(--btn-bg-primary);
  }

  .button-primary-wide {
    @apply btn btn-xs sm:btn-sm md:btn-md lg:btn-lg uppercase text-white border-0 w-full;
    border-radius: var(--spacing-1, 4px);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), var(--btn-bg-primary);
  }

  .button-secondary-wide {
    @apply btn btn-xs sm:btn-sm md:btn-md lg:btn-lg uppercase text-white border-0 w-full;
    border-radius: var(--spacing-1, 4px);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), var(--btn-bg-secondary);
  }
  
/* --- back to top --- */
  .back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--btn-bg-primary);
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
  }
  
  .back-to-top.hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .back-to-top.visible {
    opacity: 1;
    pointer-events: auto;
  }

  /* -- Custom Scrollbar Styles -- */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--btn-bg-secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--btn-bg-primary);
  border-radius: 6px;
}

.no-border {
  border: none;
}
  